{% extends "base.html" %}

{% block title %} Expenses List Page {% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Expense List</h1>
      <a href="{% url 'add_expense' %}" class="btn btn-success btn-lg"><i class="fas fa-plus"></i> New Expense</a>
    </div>
    {% if messages %}
      <div>
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if user_profile.budget > 0 %}
    <!-- Remaining Budget -->
    <p>Remaining Budget: ${{ user_profile.budget }}</p>
    {% endif %}
    <!-- Update Budget Form -->
    <form method="post" action="{% url 'update_budget' %}" class="mb-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="number" name="budget" class="form-control" placeholder="Enter new budget">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Update Budget</button>
        </div>
      </div>
    </form>

    <div class="list-group">
      {% for expense in expenses %}
        <div class="list-group-item expense-card rounded">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ expense.name }}</h5>
            <small>{{ expense.date }}</small>
          </div>
          <p class="mb-1">Amount: <strong>{{ expense.amount }}$</strong></p>
          <p class="mb-1">Category: {{ expense.category }}</p>
          
          {% if expense.notes %}
            <button class="btn btn-link text-info" type="button" data-toggle="modal" data-target="#notesModal{{ expense.id }}">
              Notes <i class="fas fa-sticky-note"></i>
            </button>

            <div class="modal fade" id="notesModal{{ expense.id }}" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content shadow">
                  <div class="modal-header">
                    <h5 class="modal-title" id="notesModalLabel">Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="mb-1">{{ expense.notes }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          
          <div class="mt-2">
            <div class="btn-group" role="group">
              <a href="{% url 'modify_expense' expense.id %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Modify</a>
              <a href="{% url 'delete_expense' expense.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Add Hover Effect -->
  <style>
    .expense-card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease-in-out;
    }
  </style>
{% endblock %}
