{% extends "base.html" %}

{% block title %} Personal Expenses Page {% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4 mb-3" style="font-family: 'Your Chosen Font'; font-size: 2.5rem; font-weight: bold;">Personal Expenses Page</h1>
    </div>

    <form method="POST" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Select Name:</label>
        {{ form.name }}
        <small class="form-text text-muted">Choose a name from the list to view personal expenses.</small>
      </div>

      <button type="submit" class="btn btn-primary" name="save">Submit</button>
    </form>
  </div>
{% endblock %}
