<!-- statistic.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h2>Total Expenses: {{ total_expenses|floatformat:1 }}$</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Bar Chart: Expense Distribution by Category</h2>
            <img src="{% static 'images/' %}{{ category_counts_plot }}" alt="Category Counts Bar Chart" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Pie Chart: Expense Distribution by Category</h2>
            <img src="{% static 'images/' %}{{ category_distribution_plot }}" alt="Category Distribution Pie Chart" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
